body {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #daeab8;
}

h1,h2 {
	color: #0063d1;
}

h1 {
 	font-size: 300%; 
    text-align: center;
}

h2 {
 	font-size: 200%; 
    text-align: center;
	color: black;
}

*.footerdate {
	float: right;
}

*.footerdeveloper {
	clear: left;
	float: left;
}
*.login {
	float: left;
}

*.homepage {
	float: left;
}

*.table {
	width: 100%;
	text-align: center;
}

*.tableCaption {
	font-size: 140%;
}

*.price {
	text-align: right;
	color: #13530f;
}

p.logo {
	text-align: center;
}

*.errortext {
	font-size: 120%;
	text-align: center;
	color: red;
}

*.positivemessage {
	font-size: 120%;
	text-align: center;
	color: green;
}

*.updatemessage {
	font-size: 120%;
	text-align: left;
	color: blue;
}


*.centeredButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


*.loginTable {
	margin: auto;
}

*.topicsTable {
	margin: auto;
}

*.websocketDiv {
	margin: 0 auto;
}

*.questionTable {
	margin: auto;
}

*.newaccount {
	margin: auto;
}

*.headerText {
	font-size: 200%;
	margin: auto;
	color: blue;
}

*.userstatus {
	float: left;
}

*.socket {
	float: left;
}

td{
    padding-left: 6px;
    padding-right: 6px;
}

*.userinput {
	font-weight: bold;
}

body{
    margin: 0px;
    padding: 0px;
    background: #daeab8;
	background-color: #daeab8;
    cursor: default;
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}
.questionContainer {
    width: 600px;
    border: 3px double #CFCFCF;
    padding: 3px;
    margin: 10px;
}
ul {
    margin: 0px;
    padding: 5px;
}
ul li {
    list-style: none;
}

a:hover {
    background: none;
}
.btnContainer {
    width: 96%;
    margin: 10px 0px 10px 2%;
}

#progressKeeper {
    width: 600px;
    height: 25px;
    border: 3px double #CFCFCF;
    margin: 0px 10px;
    padding: 3px;
}
.txtStatusBar {
    margin: 5px 10px;
    font-weight: bold;
}
#progress {
    background: green;
    width: 0;
    height: 25px;
    -webkit-transition: width 0.3s ease;
}
.radius {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
#resultKeeper {
    width: 600px;
    margin: 10px;
    padding: 3px;
    border: 3px double #CFCFCF;
}
#resultKeeper div {
    line-height: 20px;
}
.totalScore {
    font-weight: bold;
}
input {
    position: relative;
    top: 2px;
}
h1 {
	color: #0063d1;
 	font-size: 300%; 
    text-align: center;
    height: 22px;
    margin: 10px;
    text-indent: 5px;
}
.prev { float: left; }
.next, .btnShowResult { float: right; }
.clear { clear: both; }
.hide { display: none; }
a {
    border: 1px solid #000;
    padding: 2px 5px;
    font-size: 10px;
    background: #FFF;
    cursor: pointer;
}

	#wrapper {
		width:100%;
		margin:0px auto;
		border:1px solid #bbb;
		padding:10px;
	}
	#header {
		border:1px solid #bbb;
		height:80px;
		padding:10px;
	}
	#content {
		margin-top:10px;
		padding-bottom:10px;
        word-wrap: break-word;
  	}
	.content-header {
	    font-size: 130%;
        font-weight: bold;
    }
	.oldText {
	    color: gray;
    }
	.my_user_statistics {
	    color: green;
    }
	#content div {
		padding:10px;
		border:1px solid #bbb;
		float:left;
	    font-size: 110%;
	    overflow: auto; 
	}
	#content-left {
        width:26%;
		float: left;
	    height: 300px;
	}
	#content-main {
		margin-left:10px;
        width:38%;
	    height: 300px;
	}
	#content-upper-right {
		margin-left:10px;
        width:26%;
		float: right;
	    height: 175px;		
	}
	#content-lower-right {
		margin-left:10px;
        width:26%;
		float: right;
	    height: 105px;		
	}
	#playerList {
		clear: right;
	    float: right;
	    float: top;
		border:none;
	}

	#footer {
		float:left;
		margin-top:10px;
		margin-bottom:10px;
		padding:10px;
		border:1px solid #bbb;
		width:100%;
	}